


/* ===========================
     Welcome Page
=========================== */

.welcomeContainer {
    margin-top: 50%;
    font-size: 20px;
    text-align: center;
    color: rgb(238, 238, 238);
    background-color: rgba(51, 51, 51, 0.281);
    border: solid rgba(0, 0, 0, 0);
    border-radius: 15px;

}



.hamster,
.hamster div
 {
  position: absolute;
}




.space_hamster {
  --dur: 1.5s;
  position: fixed;
  bottom: 0;
  left: 0; /* stay 0 because we'll move it with transform */
  width: 12em;
  height: 12em;
  pointer-events: none;

  /* remove this! it breaks animation */
  /* transition: left 5s linear; */

  animation: hamster_walk 5s linear forwards;
}

@keyframes hamster_walk {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-50%);
  }
}
.hamster {
  top: 50%;
  
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,2.4em);
  transform-origin: 50% 0;
  z-index: 1;
  animation: hamster var(--dur) ease-in-out infinite;
}

.hamster__helmet {
    
  border-radius: 90px;
  top: -0.8em;         /* Move helmet down to cover head */
  left: -2.6em;        /* Move helmet right to align with head */
  width: 4em;         /* Adjust width to fit head */
  height: 3.5em;        /* Adjust height to fit head */
  transform-origin: 100% 80%;
  background-color: rgba(0, 38, 255, 0.521); /* Slightly transparent for glass effect */
  z-index: 10;        /* Make sure helmet is above head */
  border: 2px solid rgba(0,0,255,0.4); /* Optional: add border for helmet rim */
  pointer-events: none; /* Prevent helmet from blocking mouse events */
}


.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(32, 100%, 97%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(32, 100%, 97%)80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(32, 100%, 97%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}
  

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(32, 100%, 97%)90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(32, 100%, 97%)90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}



/* Animations */
@keyframes hamster {

  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }

  
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@media screen and (min-width: 440px) {
  .space_hamster {
    --dur: 3s;
  }

  
.welcomeContainer {
    margin-top: 40%;
    margin-bottom: 40%;
    margin: 10%;
    font-size: 24px;
    text-align: center;
    color: rgb(238, 238, 238);
    background-color: rgba(51, 51, 51, 0.281);
    border: solid rgba(0, 0, 0, 0);
    border-radius: 15px;

}



}




